lspyve() {
    venv_home="{{venv_home}}"
    to_return=""

    # get directory contents of venv home if exists
    if [ -d "$venv_home" ]; then
        to_return="$(ls -1 --color=never "$venv_home")"
    fi

    echo "$to_return"
}