[Desktop Entry]
Version=1.0
Type=Application
Name==Unity
Icon=/opt/unity/unity.png
Exec="/opt/unity/UnityHub.AppImage" %f
Comment=
Categories=
Terminal=false
StartupWMClass=unity