---
- tags: [minimal]
  block:
    - when: not archlinux
      block:
        - name: unimplemented
          benfiola.dotfiles.empty: {}
    
    - when: archlinux
      block:
        - name: enable multilib repo
          become: true
          ansible.builtin.blockinfile:
            path: /etc/pacman.conf
            marker: "# {mark} enable multilib repo (ansible managed)"
            block: |
              [multilib]
              Include = /etc/pacman.d/mirrorlist
              
        - name: update pacman cache
          become: true
          community.general.pacman:
            update_cache: true
...
