---
- tags: [optional]
  block:
    - when: not linux
      block:
        - name: unimplemented
          empty: {}

    - when: linux
      block:
        - name: flatpak install protonqt-up
          become: true
          community.general.flatpak:
            name: net.davidotek.pupgui2

        - name: symlink symlink-user-settings bin script
          become: true
          ansible.builtin.file:
            src: "{{dotfiles_path}}/roles/proton/files/symlink-user-settings.py"
            dest: "/usr/local/bin/proton-symlink-user-settings"
            state: link
...