[Desktop Entry]
Name=WebStorm
Comment=WebStorm
Exec={{webstorm_ide_path}}/bin/launch.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Icon={{webstorm_ide_path}}/bin/webstorm.png
StartupNotify=true
