---
- tags: [graphical, fat]
  block:
    - when: not darwin
      block:
        - name: unimplemented
          benfiola.dotfiles.empty: {}
    
    - when: archlinux
      block:
      - name: pacman install fat file system support
        become: true
        community.general.pacman:
          name:
            - mtools
            - dosfstools
...