---
- tags: [optional, contexts]
  block:
    - when: not (darwin)
      block:
        - name: unimplemented
          benfiola.dotfiles.empty: {}
    
    - when: darwin
      block:
        - name: brew install homebrew/cask/contexts
          community.general.homebrew_cask:
            name: homebrew/cask/contexts
            path: "{{brew_path}}"
...