---
- tags: [optional, bitwarden]
  block:
    - when: not (linux or darwin)
      block:
        - name: unimplemented
          benfiola.dotfiles.empty: {}
    
    - when: linux
      block:
        - name: flatpak install bitwarden
          become: true
          community.general.flatpak:
            name: com.bitwarden.desktop

    - when: darwin
      block:
        - name: mas install bitwarden
          community.general.mas:
            id: 1352778147
            state: present
...
